.banner{
    width: 100%;
    margin-bottom: 20px;
}

.ultima-vista{
    font-size: 24px;
    text-align: center;
    color: var(--color-gris-Oscuro)
    
}

.seccion-ofertas{
    font-size: 24px;
    text-align: center;
    color: var(--color-grisOscuro);
}

.home__main{
    display: flex;
    flex-wrap: wrap;
}

.home__main__section{
    padding: 15px 0 ;
}

.home__main__section__article{
    padding: 15px 0 ;
}

.home__main__section__article{
    background-color: var(--color-blanco);
    margin-bottom: 15px;
    
}
.home__main__section__article :hover{
    .modelo-txt{
        opacity: 1;
        transition: all 500ms;
        }
}


.home__main__section__article img {
    width: 100%;

}

.product-texto {
    position: relative;
    border-top: 1px solid #ebebeb;
    font-size: 18px;
    padding: 15px;
}

.fa-truck{
    position: absolute;
    right:15px;
    bottom: 73px;
    transition: transform 1.5s;
}

.fa-truck:hover {
    transform: rotate(-360deg);
}

.fa-circle{
    font-size: 35px;
    position: absolute;
    right: 9px;
    bottom: 65px;
}

.main_descuento_precio_articulo{
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
}

.precio-txt {
    font-size: 16px;
    width: 30%;
}

.descuento-txt {
    color: var(--color-verde);
    font-size: 15px;
    width: 70%;
}

.modelo-txt {
    color: var(--color-grisOscuro);
    font-size: 16px;
    margin: 0px;
    opacity: 0;
    transition: 0.5s;
}
@media  (min-width: 768px){ 
.banner{
    width: 100%;
    margin-bottom: 20px;
}
.home__main__section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.home__main__section__article{
width: 45%;

}
.home__main__section__article{
    margin: 15px;
    transition: all 500ms;
}

}
.home__main__section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

@media  (min-width: 1024px){
.home__main__section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.home__main__section__article{
width: 22%;
transition: all 500ms;
}

}
.home__main__section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.header__cuotas{
    font-size: 1.5vw;
}
.header_input{
    width: 25vw;
}