.home__main {
    background-color: var(--color-gris-claro);
    padding-bottom: 10px;
}

.home__main__section {
    padding: 15px 0px 0px;
}

.home__main__article-div{
text-align: left;
}

.fa-truck{
    color: var(--color-verde);
    padding: 1% 1% 1% 1%;
    border:1px solid var(--color-verde);
    border-radius: 100%;
}
.home__main__section__article {
    text-align: center;
    margin: 10px 20px;
    background-color: var(--color-blanco);
    padding: 10px;
}

.home__main__producto{
    margin: 5px 0px;
}

footer {
    margin: 20px 0px;
}

.footer__section__article {
    text-align: center;
    margin: 40px 0px;
    background-color: var(--color-blanco);
    padding: 10px;
}

.footer__section__article i {
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--color-celeste);
}

.home__main__section__article {
    margin-bottom: 10px;
    padding: 15px;
    border-top: 1px solid var(--color-gris-claro);
}



@media (max-width: 768px) {
    .home__nav {
        display: none;
    }

}

@media (min-width: 1024px) {
    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .burger-menu {
        display: none;
    }

}