.main_login{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;
}
.article_main_login{
    padding: 18px;
}

.input_login{
    border: 1px solid var(--color-grisClaro);
    width: 95%;
    height: 30px;
    border-radius: 5px;
}
.button_main_login{
    width: 60%;
    height: 30px;
    background-color: #fff;
    color: #000;
    /*border: 1px solid var(--color-celeste);*/
    border-radius: 5px;
    transition: background-color 2seg;
}
.button_main_login:hover {
    background-color: var(--color-celeste);
    border: 1px solid var(--color-celeste);
    color: #fff;
  }
@media(min-width: 768px){
    .input_login{
        width: 60%;
        height: 35px;
    }
    .articicle_main_login{
        padding: 13px;
    }
}

@media  (min-width: 1024px){
    .input_login{
        height: 35px;
    }
    .main_login{
        margin-bottom: 200px;
    }
}